apscheduler             # Adds in scheduling to run the main process at set times in a crontab style format
backoff                 # Function decorator for backoff and retry for requests
click                   # Command Line Interface Creation Kit
colorama                # Colour support for console output for all platforms
configobj               # Config reading, writing and validation
ConfigArgParse          # Drop-in replacement for argparse that allows options to be set via cli, config files and/or environment variables
daemonize               # Run application in foreground/background
diskcache               # Required by imdbpie, need to ensure we install latest due to Collections error
ffmpeg-python           # Used to identify resolution of existing media
googlesearch-python     # Fallback mechanism to get IMDb ID for movies
imdbpie                 # Python IMDB client using the IMDB JSON web service made available for their iOS application
mako                    # Mako is a web template library written in Python
nmdmail                 # Simplified email sender for Python
pathvalidate            # Sanitise paths for common operating systems
prowlarr-py             # API interface to Prowlarr
pycountry               # Handles country and language conversion to short two letter abreviation
pydantic                # Data validation, used for dict merging and yaml validation
pyomdbapi               # A simple OMDB API python wrapper
Pytest                  # Test framework for Python
PyYAML                  # Tool used to pretty print YAML/dict for debug
qbittorrent-api         # API support to add torrents/magnets to qBittorrent
requests                # HTTP library for humans
ruamel.yaml             # YAML editor that permits roundtripping without loss of formatting
sqlalchemy              # SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives developers the full power and flexibility of SQL.
sqlite-utils            # Python CLI utility and library for manipulating SQLite databases.
tornado                 # Tornado is a Python web framework - non blocking i/o
tornroutes              # Web server routes decorator
Unidecode               # Transliterate from Unicode to ASCII
urllib3                 # Referenced by requests
uvicorn                 # Alternative to tornado, is async so much faster!
validators              # Used to validate data from user e.g. email, url etc
xmltodict               # xmltodict is a simple library that aims at making XML feel like working with JSON
